.menu-container {
	width: 100%;
	overflow-x: auto;
}

.menu-wrapper {
	white-space: nowrap;
	padding: 15px;

	@media (width > $mobileMax) {
		@mixin maxWidth;
	}
}

.item {
	padding: 0 20px;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	@mixin transitionAll;

	@media (width <= $tabletMax) {
		padding: 0 15px;
	}

	&:hover {
		color: $brandColor;
	}
}
