.title {
	font-size: 18px;
	text-transform: uppercase;
	overflow-x: auto;
	margin-bottom: 35px;
}

.container {
	margin: 75px 0;
	text-align: center;
}

.wrapper {
	background: transparent;
	font-size: 14px;
	display: flex;
	margin: auto;
	justify-content: space-between;
	flex-wrap: no-wrap;
	max-width: 690px;
}

.brand {
	text-transform: uppercase;
}
